{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="slider d-flex align-items-center">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <div class="styled-heading">
                            <h3>Swipping to Dind</h3>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                        <div class="col-md-3 features-responsive">
                                <div class="swiper-button-prev flex justify-content-center align-items-center">
                                        <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path d="M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z"></path></svg></span>
                                </div>
                        </div>

                        <div class="col-md-5 featured-responsive">
                            <div class="featured-place-wrap">
                                <div class="swiper-container hero-slider">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="hero-content flex justify-content-center align-items-center flex-column">
                                                <a href="detail.html">
                                                    <img src="images/featured1.jpg" class="img-fluid" alt="#">
                                                        <div class="featured-title-box">
                                                            <h6>Burger & Lobster</h6>
                                                            <p>Restaurant </p> <span>• </span>
                                                            <p>3 Reviews</p> <span> • </span>
                                                            <p><span>$$$</span>$$</p>
                                                            <ul>
                                                                <li><span class="icon-location-pin"></span>
                                                                    <p>Address</p>
                                                                </li>
                                                                <li><span class="icon-screen-smartphone"></span>
                                                                    <p>+44 20 7336 8898</p>
                                                                </li>
                                                                <li><span class="icon-link"></span>
                                                                    <p>website address</p>
                                                                </li>
                                                            </ul>
                                                        <div class="bottom-icons">
                                                        <div class="closed-now">CLOSED NOW</div>
                                                            <span class="ti-heart"></span>
                                                            <span class="ti-bookmark"></span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div><!-- .hero-content -->
                                        </div><!-- .swiper-slide -->

                                        <div class="swiper-slide">
                                            <div class="hero-content flex justify-content-center align-items-center flex-column">
                                                <a href="detail.html">
                                                    <img src="images/featured2.jpg" class="img-fluid" alt="#">
                                                    <div class="featured-title-box">
                                                        <h6>Joe’s Shanghai</h6>
                                                        <p>Restaurant </p> <span>• </span>
                                                        <p>3 Reviews</p> <span> • </span>
                                                        <p><span>$$$</span>$$</p>
                                                        <ul>
                                                            <li><span class="icon-location-pin"></span>
                                                                <p>Address</p>
                                                            </li>
                                                            <li><span class="icon-screen-smartphone"></span>
                                                                <p>+44 20 7336 8898</p>
                                                            </li>
                                                            <li><span class="icon-link"></span>
                                                                <p>Website address</p>
                                                            </li>

                                                        </ul>
                                                        <div class="bottom-icons">
                                                            <div class="closed-now">CLOSED NOW</div>
                                                            <span class="ti-heart"></span>
                                                            <span class="ti-bookmark"></span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div><!-- .hero-content -->
                                        </div><!-- .swiper-slide -->


                                        <div class="swiper-slide">
                                            <div class="hero-content flex justify-content-center align-items-center flex-column">
                                                <a href="detail.html">
                                                    <img src="images/featured3.jpg" class="img-fluid" alt="#">
                                                    <div class="featured-title-box">
                                                        <h6>Tasty Hand-Pulled Noodles</h6>
                                                        <p>Restaurant </p> <span>• </span>
                                                        <p>3 Reviews</p> <span> • </span>
                                                        <p><span>$$$</span>$$</p>
                                                        <ul>
                                                            <li><span class="icon-location-pin"></span>
                                                                <p>Address</p>
                                                            </li>
                                                            <li><span class="icon-screen-smartphone"></span>
                                                                <p>+44 20 7336 8898</p>
                                                            </li>
                                                            <li><span class="icon-link"></span>
                                                                <p>Website address</p>
                                                            </li>

                                                        </ul>
                                                        <div class="bottom-icons">
                                                            <div class="open-now">OPEN NOW</div>
                                                            <span class="ti-heart"></span>
                                                            <span class="ti-bookmark"></span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div><!-- .hero-content -->
                                        </div><!-- .swiper-slide -->
                                    </div><!-- .swiper-wrapper -->
                                </div>
                            </div>
                        </div>

                                <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                                <!-- Add Arrows -->
                        <div class="col-md-3 features-responsive">
                            <div class="swiper-button-next flex justify-content-center align-items-center">
                                <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path d="M27,22L27,22L5,44l-2.1-2.1L22.8,22L2.9,2.1L5,0L27,22L27,22z"></path></svg></span>
                            </div>
                        </div><!-- .swiper-container -->
                </div>
            </div>
        </section>
        <!--//END FIND PLACES -->
        {% endblock %}