{%load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="">
        <meta name="description" content="#">
        <meta name="keywords" content="#">
        <!-- Page Title -->
        <title>Dinder</title>
        {% block css %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}">
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
        <!-- Simple line Icon -->
        <link rel="stylesheet" href="{% static 'css/simple-line-icons.css' %}">
        <!-- Themify Icon -->
        <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
        <!-- Hover Effects -->
        <link rel="stylesheet" href="{% static 'css/set1.css' %}">
        <!-- Swiper CSS -->
        <link rel="stylesheet" href="{% static 'css/swiper.css' %}">
        <!-- Main CSS -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        {% endblock css %}
    </head>

    <body>
        <!--============================= HEADER =============================-->
        <div class="nav-menu">
            <div class="bg transition">
                <div class="container-fluid fixed">
                    <div class="row">
                        <div class="col-md-12">
                            <nav class="navbar navbar-expand-lg navbar-light">
                                <a class="navbar-brand" href="/">Dinder</a>
                            </nav>  
                        </div>
                    </div>
                </div>
            </div>
        </div>

{{ content|safe}}
{%block content%}
{% endblock %}


    <!--============================= FOOTER =============================-->
    <footer class="main-block footer-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>Copyright &copy; 2018 . All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="home.html" target="_blank">Dinder Team</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--//END FOOTER -->
    {% block javascript %}
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <!-- <script src="{% static 'js/swiper.min.js' %}"></script> -->
    <script src="{% static 'js/custom.js' %}"></script>

    <script>
        $(window).scroll(function() {
            // 100 = The point you would like to fade the nav in.

            if ($(window).scrollTop() > 100) {

                $('.fixed').addClass('is-sticky');

            } else {

                $('.fixed').removeClass('is-sticky');

            };
        });
    </script>
    {% endblock javascript %}
  </body>

</html>
