{% extends "base.html" %}
{% load static i18n %}
{% block content %}



<!--============================= FIND PLACES =============================-->
        <section class="slider d-flex align-items-center">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <div class="styled-heading">
                            <h3>Swiping to Dind</h3>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-5 featured-responsive">
                        <div class="featured-place-wrap">
                            <div class="swiper-container hero-slider">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="hero-content flex justify-content-center align-items-center flex-column">
                                           
                                                <img src="{{image}}" class="img-fluid" alt="#">
                                                    <div class="featured-title-box">
                                                        <h6>{{name|title}}</h6>
                                                        <p>{{rating}}</p> <span> • </span>
                                                        <p>{{price}}</p>
                                                        <ul>
                                                                <li><span class="icon-location-pin"></span>
                                                                    <p>{{address}}</p>
                                                                </li>
                                                                <li><span class="icon-screen-smartphone"></span>
                                                                    <p>{{phone}}</p>
                                                                </li>
                                                                <li><span class="icon-link"></span>
                                                                    <p style="font-size:8px">{{url}}</p>
                                                                </li>
                                                        </ul>
                                                        <!-- <div class="bottom-icons">
                                                        <div class="closed-now">NEED HOURS FROM API</div>
                                                            <span class="ti-heart"></span>
                                                            <span class="ti-bookmark"></span>
                                                        </div> -->
                                                        {% if messages %}
                                                        {% for message in messages %}
                                                        <div class="alert alert-{{ message.tags }}">
                                                            {{ message }}
                                                        </div>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </div>
                                            
                                        </div><!-- .hero-content -->
                                    </div><!-- .swiper-slide -->
                                </div><!-- .swiper-wrapper -->
                            </div><!-- .swiper-container -->
                        </div>
                    </div>

                    <div class="swiper-pagination"></div>
                    <div class="row justify-content-center">
                        <div class="col-md-7 features-responsive">
                            <form method="GET" action="/swipe">
                                <input type="hidden" name="res_id" value="{{ res_id }}">
                                <input name="bad" value="bad" type="submit" class="swiper-button-prev">
                            </form>
                        </div>
                        <div class="col-md-7 features-responsive">
                            <form method="GET" action="/swipe">
                                <input type="hidden" name="res_id" value="{{res_id}}"/>
                                <input name="good" value="good" type="submit" class="swiper-button-next"/>
                                <!-- <button type="submit">Okay</button> -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
            <!--//END FIND PLACES -->

{% endblock %}
