{% extends "base.html" %}
{% load static i18n %}
{% block content %}


            <div class="container-fluid main-block">
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <div class="styled-heading">
                            <h3 style="color:tomato">HOORAY<br/>HIT THE WINNER UP</h3>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-5 featured-responsive">
                        <div class="featured-place-wrap">
                            <div class="swiper-container hero-slider">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="hero-content flex justify-content-center align-items-center flex-column">
                                            <!-- <a href="homepage.html"> -->
                                                <img src="{{image}}" class="img-fluid">
                                                <div class="featured-title-box">
                                                    <h6>{{name|title}}</h6>
                                                    <p>Restaurant </p> <span>• </span>
                                                    <p>{{rating}}</p> <span> • </span>
                                                    <p>{{price}}</p>
                                                    <ul>
                                                        <li><span class="icon-location-pin"></span>
                                                            <p>Address: {{address}}</p>
                                                        </li>
                                                        <li><span class="icon-screen-smartphone"></span>
                                                            <p>Phone: {{phone}}</p>
                                                        </li>
                                                        <li><span class="icon-link"></span>
                                                            <p style="font-size:18px"> <a href="{{url|safe}}">Yelp Link Here!</a></p>
                                                        </li>
                                                    </ul>
                                               </div>
                                            <!-- </a> -->
                                        </div><!-- .hero-content -->
                                    </div><!-- .swiper-slide -->
                                </div><!-- .swiper-wrapper -->
                            </div><!-- .swiper-container -->
                        </div>
                    </div>
                    </div>
                
                </div>
            </section>
            

        
{% endblock %}
