.btn {
    width:120px;
    height:25px;
    border-radius: 12%;
    /* style="left:0%; width:100px;height:25px;border-radius: 12%" */
}
.left { 
    left:0%;

}

.right {
    right: 0%;
}

#mainImg {
    height:500px;
    width:500px;
    /* opacity: 0.6;
    z-index: 50; */

    /* style="height:500px;width:500px" */
}

.holders {
    margin-bottom:-10px;
    /* style="margin-bottom:-10px;" */
}

.row,us {
    text-align:center;
    /* style="text-align:center" */
}